* {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
.main-container {
    max-width: 1600px;
    margin: 0 auto;
}
main{
    max-width: 1140px;
}
/* header area */
.header-area {
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header-content {
    width: 1140px;
    text-align: right;
    padding-top: 216px;
    padding-bottom: 160px;
}
.content-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}
.content-description {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin: 20px 0;
}
.header-btn {
    padding: 9px 16px;
    background-color: rgb(241 105 7);
    font-size: 19px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}
/* failures-section */
.failures-section {
    margin-top: 80px;
}
.failures {
    display: flex;
    align-items: center;
}
.failures-detail {
    padding-left: 100px;
}
.failures-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.failures-description {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.failures-list {
    line-height: 26px;
    color: #444343;
}
.failures-list li {
    list-style: none;
    padding: 5px;
}
.failures-list li i {
    color: green;
    padding: 9px 9px;
}
/* plans-section */
.plans-section {
    margin-top: 80px;
}
.plans-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
    text-align: center;
}
.plans {
    display: flex;
    justify-content: space-around;
}
/* work-section */
.work-section {
    margin-top: 300px;
}
.work-hading {
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
}
.work-place {
    display: flex;
    justify-content: space-evenly;
    gap: 76px;
}
.work-img {
    border-radius: 3px;
    border: 2px solid #f38708;
    padding: 2px;
}

.work-title {
    font-size: 30px;
    margin-bottom: 45px;
}
/* positive-section  */
.positive-section {
    margin-top: 100px;
    padding: 60px 0;
}
.positive {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.positive-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding: 38px 0 0 46px;
}
.good-btn {
    text-decoration: none;
    padding: 7px 11px;
    background-color: #fff;
    margin: 49px;
    border-radius: 3px;
    display: inline-block;
}
/* footer */
.future-section {
    background: #151414;
    margin-top: 100px;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.future-contact {
    margin: 20px 0;
    color: #fff;
}
.socialmedia {
    display: flex;
    margin-top: 30px;
    padding-left: 0;
}
.socialmedia li {
    list-style: none;
    margin: 0;
}

.socialmedia li i {
    font-size: 35px;
    color: #fff;
    background-color: blue;
    margin-right: 10px;
    border-radius: 50%;
    padding: 8px;
}

.Subscribe h2 {
    color: #fff;
    font-size: 35px;
}
.Subscribe input {
    padding: 10px 36px;
    border-radius: 5px;
    border: none;
    background: cornsilk;
    margin-top: 20px;
}
.Subscribe button {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}